extends layout.pug

block content
  container.header
    h1 Details
  
  container
    .row
      .col-4
        img(src=cover, width = 350, length = 350, alt='Front Cover')
       
      .col-8
        form
          fieldset
            .row
              .col-6
                .form-group
                  label Title
                  input.form-control(type='text', placeholder=title, Disabled='')
                .form-group
                  label Author
                  input.form-control(type='text', placeholder=author, Disabled='')
                .form-group
                  label Publisher
                  input.form-control(type='text', placeholder=publisher, Disabled='')
              .col-6
                .form-group
                  label Price
                  input.form-control(type='text', placeholder='$'+ price, Disabled='')
                .form-group
                  label In Stock
                  input.form-control(type='text', placeholder=stock, Disabled='')
                .form-group
                  label Rating
                  input.form-control(type='text', placeholder=average, Disabled='')
            .row
              .col-12
                .form-group
                  label Summary
                  textarea.form-control(placeholder=summary, Disabled='')

            .row
              .col-12
                .form-group
                  labelb Author Biography
                  textarea.form-control(placeholder=bio, Disabled='')


            button(href='/', onclick='makeTableRequest("", "title", 10, "")') More by this Author
            a.nav-link(href='/author')
              | Browse 
            button.btn.btn-primary.d-none(type='submit') Submit
  
  container
    .row
      .col-12
        h4 Reviews
    .row
      .col-8
        .row
          .col-12
            .writeReview
              input#input-title-review.form-control(placeholder="Write a title...", oninput="updateButton(this.value)")
        .row
          .col-12
            .writeReview
              textarea#input-review.form-control(placeholder="Write a comment...", oninput="updateButton(this.value)")
        .row.reviewFooter
          .col-6
            .selectRating
              .form-check.form-check-inline
                input#inlineRadio1.form-check-input.reviewRating(type='radio', name='rating', value='1', oninput="updateButton(this.value)")
                label.form-check-label(for='inlineRadio1') 1
              .form-check.form-check-inline
                input#inlineRadio2.form-check-input.reviewRating(type='radio', name='rating', value='2', oninput="updateButton(this.value)")
                label.form-check-label(for='inlineRadio2') 2
              .form-check.form-check-inline
                input#inlineRadio3.form-check-input.reviewRating(type='radio', name='rating', value='3', oninput="updateButton(this.value)")
                label.form-check-label(for='inlineRadio3') 3 
              .form-check.form-check-inline
                input#inlineRadio2.form-check-input.reviewRating(type='radio', name='rating', value='4', oninput="updateButton(this.value)")
                label.form-check-label(for='inlineRadio2') 4
              .form-check.form-check-inline
                input#inlineRadio3.form-check-input.reviewRating(type='radio', name='rating', value='5', oninput="updateButton(this.value)")
                label.form-check-label(for='inlineRadio3') 5
          .col-3
          .col-3
            button#postReview.btn.btn-outline-primary.pushRight(type='submit') Post
        .row
          .col-12
            .writeReview
              #alertMessage.alert.alertEdit.alert-danger(role='alert')
        hr
        .row.reviewsList
          ul#reviewUl.media-list.reviewUl
            

  script(src='js/details/details-script.js')
  script(src='js/browse/browse-script.js')

            